@charset "UTF-8";

* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(70, 142, 236);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: white;
    text-align: center;
}

header > h1 {
    text-shadow: 2px 2px  rgba(0, 0, 0, 0.651);
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.397);
}

input[type ="number"] {
    border: 1px  solid rgb(0, 0, 0);
    border-radius: 3px;
    width: 100px;
    margin-bottom: 8px;
    padding: 3px;
}

input[type = "number"]:focus {
    outline: none;
    border: 1px solid darkblue;
    box-shadow: 0px 0px 8px rgba(0, 0, 139, 0.575);
}

input[type = "button"] {
    width: 120px;
    height: 30px;
    border-radius: 4px;
    background-color: lightgray;
    margin-left: 30px;
    cursor: pointer;
}

input[type = "button"]:hover {
    background-color: gray;
    color: aliceblue;
    transition: all 0.3s;
    transform: translate(-2px, -2px);
}

select {
    padding: 2px;
    width: 100px;
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 4px;
}

select:focus {
    outline: none;
    
}

footer {
    color: white;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
    font-style: italic;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
}