@charset "UTF-8";

* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(70, 142, 236);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: white;
    text-align: center;
}

header > h1 {
    text-shadow: 2px 2px  rgba(0, 0, 0, 0.651);
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.397);
}

input[type="Number"] {
    height: 25px;
    border: 1px solid black;
    border-radius: 3px;
}

input[type="Number"]:focus {
    border-color: rgb(99, 215, 253);
    outline: none;
}

input#botao {
    display: block;
    margin: auto;
    width: 120px;
    height: 37px;
    border-radius: 7px;
    background-color: lightgray;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.452);
    margin-bottom: 10px;
}

input#botao:hover {
    background-color: gray;
    cursor: pointer;
    transform: translate(3px, 3px);
    transition: all 0.3s;
}

footer {
    color: white;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
    font-style: italic;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
}