@charset "UTF-8";

* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(70, 142, 236);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: white;
    text-align: center;
}

header > h1 {
    text-shadow: 2px 2px  rgba(0, 0, 0, 0.651);
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.397);
}

#txtano {
    background-color: #e7e9ff;
    color: #333;               
    border: 2px solid #0077ff; 
    padding: 5px;            
    border-radius: 5px;       
    width: 80px;             
    outline: none;           
}

#txtano:focus {
    background-color: #ffffff;
    border-color: #3682f4; 
    box-shadow: 0 0 8px rgba(54, 105, 244, 0.5);
}

#botao {
    display: block;    
    margin: auto;
    width: 100px;
    height: 30px;
    background-color: lightgray;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color .3s ease;
}

#botao:hover {
    
    background-color: gray;
}

img#imagem {
    width: 250px;
    height: fit-content;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 20px;
}

footer {
    color: white;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
    font-style: italic;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
}